:root {
	--main-color: #004ba0;
	--background: #fff;
	--secondary:#eeeeee;
	--error-color: #b00020;
	--warning-color: #ff9900;
	--txt-on-main: #000;
	--txt-on-second: #000;
	--txt-on-back: #000;
	--txt-on-err: #fff;
	--color-grey:#BABFC7;
}

[data-theme='dark'] {
	--main-color: #1976d2;
	--background: #000000;
	--secondary:#26334d;
	--error-color: #cf6679;
	--warning-color: #f8b754;
	--txt-on-main: #fff;
	--txt-on-second: #fff;
	--txt-on-back: #fff;
	--txt-on-err: #fff;
	--color-grey: #68686E;
}

body {
	background-color: var(--background)!important;
	z-index: 0;
}

.bg-main-color {
	background-color: var(--main-color)!important;
}

.bg-main {
	background-color: var(--background)!important;
}

.bg-second {
	background-color: var(--secondary)!important;
}

.bg-error {
	background-color: var(--error-color)!important;
}

.txt-main {
	color: var(--main-color);
}

.txt-on-main {
	color: var(--txt-on-main)!important;
}

.txt-on-second {
	color: var(--txt-on-second)!important;
}

.txt-on-second2 {
	color: var(--txt-on-main)!important;
}

.txt-on-back {
	color: var(--txt-on-back)!important;
}

.txt-on-error {
	color: var(--txt-on-err)!important;
}

.color-error {
	color: var(--error-color)!important;
}

.color-grey1 {
	color: var(--color-grey)
}

.but-outline-add {
	background-color: var(--background);
	border-color: var(--main-color);
	color: var(--main-color);
	font-weight: 700;
	border: none;
}

.but-outline-add:hover {
	border-color: var(--background);
	color: var(--color-grey);
}

.but-outline-delete {
	background-color: var(--background);
	border-color: var(--error-color);
	color: var(--error-color);
	font-weight: 700;
	border: none;
}

.but-outline-delete:hover {
	border-color: var(--background);
	color: var(--color-grey);
}

.but-outline-edit {
	background-color: var(--background);
	border-color: var(--warning-color);
	color: var(--warning-color);
	font-weight: 700;
	border: none;
}

.but-outline-edit:hover {
	border-color: var(--background);
	color: var(--color-grey);
}

.but-outline-modal-save {
	background-color: var(--secondary);
	border: 1px solid var(--main-color) !important;
	color: var(--main-color);
	font-weight: 700;
	border: none;
}

.but-outline-modal-save:hover {
	background-color: var(--main-color);
	color: var(--secondary);
}

.but-outline-modal-cancel {
	background-color: var(--secondary);
	border: 1px solid var(--error-color) !important;
	color: var(--error-color);
	font-weight: 700;
	border: none;
}

.but-outline-modal-cancel:hover {
	background-color: var(--error-color);
	color: var(--secondary);
}

/*  FORMS */

/* Warning Fix */
.dropdown-menu {
	margin: 0 !important;
}